<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit Optimizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hello world</h1>

    <nav>
        <ol>
            <li><a href="\">Home</a></li>
            <li><a href="optimizer.html">Profit Optimizer</a></li>
            <li><a href="finance.html">Finances</a></li>
        </ol>
    </nav>
</body>
</html>